<!-- loop over each movie in the array -->

	<div class="hero-container row">
{{#each movies as |movie|}}
 		<div class="main-container col-4">
			<div class="poster-container">
				<a href="{{#if ../logged_in}} /movie/{{movie.id}} {{else}} /login {{/if}}">
				<img src="{{movie.poster}}" class="poster" alt="{{movie.name}}" />
				</a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket__movie-title">{{movie.name}}</h4>
					<p class="ticket__movie-slogan">
						{{movie.description}}
					</p> 
				</div>
			</div>
		</div>
{{/each}}

</div> 

{{! Path: controllers\home.js }}