<!-- loop over each movie in the array -->
<div class="hero-container row">
	<!--{{#if logged_in}}-->
	<img src="{{movie.poster}}">
	{{!-- <div class="ticket__content"> --}}
		<h4 class="ticket__movie-title">{{movie.name}}</h4>
		<p class="ticket__movie-slogan">
			{{movie.description}}
		</p>
		<span class="heading">User Rating</span>
		<p>{{user.name}} rates this movie:{{movie.rating}}</p>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star checked"></span>
		<span class="fa fa-star"></span>
		<hr style="border:3px solid #f1f1f1">
		<form class="form comment-form">
			<div class="form__group">
				<label class="form__label" for="rating">Rating</label>
				<input class="form__input" type="number" id="rating" name="rating" placeholder="Enter rating number">
			</div>
			<div class="form__group">
				<label class="form__label" for="comment">Comment</label>
				<input class="form__input" type="text" id="comment" name="comment" placeholder="Enter comment">
			</div>
			{{!-- <input type="text" id="rating-box" placeholder="Enter rating number">
			<input type="text" id="comment-box" placeholder="Enter comment"> --}}
			<input type="hidden" id="movie-id" value="{{movie.id}}">
			<input type="hidden" id="user-id" value="{{user.id}}">
			<button id="postbtn" type="submit">Post</button>
		</form>
		

		<ul id="unordered"></ul>

	{{!-- <div class="ticket__content"> --}}
		{{#each movie.movieComments}}
		<li class="comment">
			<p class="comment__text">User Id: {{user_id}}</p>
			<p class="comment__author">Username: {{user.username}}</p>
			<p class="comment__author">User Rating: {{rating}}</p>
			<p class="comment__author">Their Comment: {{feedback}}</p>
		{{/each}}
		{{!--
	</div> --}}
	<!--{{else}}-->
	<a href="/login">login</a>
	<div class="ticket-container">
		<div class="ticket__content">
			<h4 class="ticket__movie-title">{{movie.name}}</h4>
			<p class="ticket__movie-slogan">
				{{movie.description}}
			</p>
		</div>
	</div>
	<!--{{/if}}-->

	<script src="/js/post.js"></script>