{{#if logged_in}}
<section class="profile">
  <header class="header">
    <div class="details">
      <h1 class="heading text-white">Welcome, {{user.username}}</h1>
      <img src="https://i.pravatar.cc/300" alt="John Doe" class="profile-pic">
      
      <div class="stats">
        <div class="col-4">
          <br>
          <h4 class="text-white" style="text-decoration: underline">{{user.username}}'s recent Comments:</h4>
        </div>
        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
      </div>
    </div>
  </header>
</section>

  {{#each comments as |comment|}}
    <div class="comment__content">
      <h4 class="comment__movie-title text-white">{{movie.name}}</h4>
      <p class="comment__movierating text-white h5">{{comment.rating}}</p>
      <p class="comment__movie-slogan text-white h5">{{comment.feedback}}</p>

      <a class="edit-comment text-white bg-#457fb4;; text-decoration-none" href="/edit-comment/{{comment.id}}" >Edit</a> |
      <button class="delete-comment" id="{{comment.id}}" >Delete</button>
    </div>
  {{/each}}

{{/if}}
</div>
<script src="/js/profile.js"></script>